/* Create four equal columns that floats next to each other */
.header-container {
  height: 68px;
  display: flex;
  padding: 0 4%;
  margin: 0;
  width: 100%;
  background-color: '#141414';
}
.header-head {
  display: flex;
  /* background-color: black; */
}
.header-right-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
}
